# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio directories
.vs/

# JetBrains Rider
.idea/

# .NET Core publish folder
publish/

# Environment files
.env

# Docker
docker-compose.override.yml

appsettings.json
